# Capture: tsduck, ccextractor, ffmpeg static build, linux-mediatree hauppauge
# Alignment: libespeak-dev, ffmpeg static build
# pytorch, kenlm
aeneas
comet_ml
joblib
python-Levenshtein
scipy
sru
tqdm
